body {
	background-color: #111 !important;
	color: #fff !important;
}
#gb#gb a.gb_P, #gb#gb span.gb_P {
	color: #fff !important;
}

.gb_ea .gb_b {
	background-position: -463px -38px !important;
}

.gb_mc {
    background-color: rgba(255,255,255,0.5) !important;
}